.container {
  max-width: 1200px;
  margin: 0 auto;
}
.list {
  display: flex;
  justify-content: center;
}
.nav {
}
.body {
  font-family: "Playfair Displey" serif;
  font-size: 14px;
  font-weight: 400;
  color: #626262;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 555px;
  list-style: none;
}
.navigation {
  padding: 71px 0px 92px;
}
.nav-list-item {
}
.nav-list-link {
  color: #7d7d7d;
  text-decoration: none;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #03a9f4;
}
.main-list {
  list-style: none;
}

.main-list-item:not(:nth-child(n + 5)) {
  margin-bottom: 130px;
}
.main-list-img {
  width: 420px;
  height: 280px;
  margin-bottom: 32px;
}
.main-list-text {
}
.main-list-paragraf {
  width: 420px;
}
.main-list {
  display: flex;
  width: 906px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.btn {
  width: 165px;
  height: 60px;
  margin: 90 auto 0;
  font-family: "Playfair Display";
  font-style: normal;
  display: flex;
  justify-content: center;
  line-height: 1.35;
  font-weight: 400;
  color: #626262;
  border: 1px solid #626262;
}
